input[type='text'] {
  border: 3px solid #6f6f6f;
  background-color: transparent;
  padding: 15px 25px;
  border-radius: 60px;
  font-size: 30px;
  width: 500px;
}

.veil-section {
  .shorts-summary {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    text-align: left;

    .shorts-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}
