input[type='text'] {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}

.veil-section {
  .shorts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 5vw;
    right: 5vw;
  }
}
