/* input[type='text'] {
  border: 3px solid #6f6f6f;
  background-color: #ffffff30;
  padding: 15px 25px;
  border-radius: 60px;
  font-size: 30px;
  width: 490px;
}
 */
.veil-section {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  .veil-content {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    text-align: left;

    .veil-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }
  }

  .shorts-summary {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    text-align: left;
    width: 40%;
    max-width: 450px;
  }
}
